[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-notifications-hq = "*"
pyvis = "*"
networkx = "*"
pipfile = "*"
django-widget-tweaks = "*"
bs4 = "*"
django-bootstrap5 = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
martor = "*"
thefuzz = "*"
fuzzychinese = "*"
django-tailwind = {extras = ["reload"], version = "*"}
django-mdeditor = "*"
django-floppyforms = "*"

[dev-packages]

[requires]
python_version = "3.11"
