h6.middle-text {
   width: 100%; 
   color: #527E8B;
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
} 

h6.middle-text span { 
    background: ; 
    padding:0 10px; 
}