{% csrf_token %}
<nav class="navbar navbar-expand-lg" style="background-color: #1D5879;">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}" style="color: white;">SeeNetwork</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="mainMenu">
      <ul class="navbar-nav ms-auto">
        {% if user.is_authenticated %}{% load notifications_tags %}
          <li class="nav-item dropdown notification-ui">
            <a href="#" class="font-weight-bold text-success nav-link dropdown-toggle" id="notificationMenu" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  style="color: white;">
              <i class="fa fa-bell" style="color: white;"></i>
              <span id="notificationCounter" class='badge badge-pill' style="background-color: #EF6262; color: #1D5879;">
                {% notifications_unread as unread_count %}
                {% if unread_count %}
                  {{ unread_count }}
                {% else %}
                  0
                {% endif %}
              </span>
            </a>

            <div id="notificationMenu" class="dropdown-menu dropdown-menu-end notification-ui_dd adaptive" style="width: 600px;" aria-labelledby="notificationMenu">
              <div class="notification-ui_dd-header">
                <h4 class="text-center" href="{% url 'notifications' %}">Notification</h4>
              </div>
              <div class="notification-ui_dd-content">
                {% for notification in user.notifications.unread %}
                  <div class="notification-list notification-list--read">
                    <div class="notification-list_img">
                      <img src="https://i.imgur.com/zYxDCQT.jpg" alt="user">
                    </div>
                    <div class="notification-list_detail">
                      <p><a href="{% url 'profile_view' notification.actor.slug %}">{{ notification.actor }}</a>{{ notification.description }}</p>
                      <p><small>{{ notification.timestemp }}</small></p>
                    </div>
                    <div class="notification-list_feature-img">
              
                      {% if notification.verb == 'following' %}
                        <p>
                          <a id="nav-confirm-{{ notification.id }}" class="btn btn-primary btn-sm" onclick="confirmFriendRequest({{notification.id}})" href="#" style="background-color: #FFAD5A; color: #1D5879;">
                            <i class="fa fa-check"></i>
                          </a>
                        </p>
                      {% endif %}
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userMenu" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white; padding-right: 20px; padding-left:1px;">
              {{ user.username }}
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userMenu">
              <a class="dropdown-item" href="{% url 'notifications' %}" style="color: #1D5879;" name=notification value=True>Notifications</a>
              <a class="dropdown-item" href="{% url 'profile_view' user_slug=user.slug %}" style="color: #1D5879;" name=profile_view value=True>My account</a>
              <a class="dropdown-item" href="{% url 'network' %}" style="color: #1D5879;" name=network value=True>Network</a>
              <a class="dropdown-item" href="#" style="color: #1D5879;">Change password</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'logout' %}" style="color: #1D5879;">Log out</a>
            </div>
          </li>
        {% else %}
          <form class="form-inline ml-auto">
            <a href="{% url 'login' %}" class="btn btn-outline-secondary" style="background-color: #1D5879; color: white;">Log in</a>
            <a href="{% url 'signup' %}" class="btn btn-primary ml-2" style="background-color: #FFAD5A; color: #1D5879;">Sign up</a>
          </form>
        {% endif %}
      </ul>
      {% if user.is_authenticated %}
        <form class="d-flex" method="get" action="{% url 'search_users' %}">
          <input type="search" class="form-control me-2" id="search_query" name="q" placeholder="Search by Student ID, Name, or Email" aria-abel="Search" required>
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      {% endif %}
    </div>
  </div>
</nav>


{% block scripts %}
<script>
document.addEventListener('DOMContentLoaded', function () {
    // Get the dropdown menu element
    var notificationMenu = document.getElementById('notificationMenu');

    // Add an event listener to the dropdown menu to mark notifications as read when opened
    notificationMenu.addEventListener('click', function () {
        // Perform an AJAX request to mark notifications as read
        // Replace 'mark_as_read_url' with the actual URL in your Django project
        fetch('{% url 'mark_all_as_read' %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}',
            },
            body: JSON.stringify({}),
        })
            .then(response => response.json())
            .then(data => {
                // Update the UI or perform additional actions if needed
                console.log('Notifications marked as read:', data);
            })
            .catch(error => console.error('Error marking notifications as read:', error));
    });
    // Event listener for the dropdown close event
    $('#notificationMenu').on('hidden.bs.dropdown', function () {
        var notificationCounter = document.getElementById('notificationCounter')
        notificationCounter.textContent = 0
    });
});
</script>
<script>
window.onbeforeunload = function(){
  fetch('{% url 'mark_all_as_read' %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}',
            },
            body: JSON.stringify({}),
        })
            .then(response => response.json())
            .then(data => {
                // Update the UI or perform additional actions if needed
                console.log('Notifications marked as read:', data);
            })
            .catch(error => console.error('Error marking notifications as read:', error));
};
</script>
<script type="text/javascript">
  function confirmFriendRequest(notificationId) {
    $.ajax({
      type: 'POST',
      url: '/confirm_request/' + notificationId,
      headers: {'X-CSRFToken': csrftoken },
      data: {
        message: 'confirm_request'
      },               
      success: function(response) {
          // Handle the server response here
          console.log(response);
      },
      error: function(error) {
          // Handle errors here
          console.error(error);
      }
    });
    var confirmIcon = document.getElementById('confirm-' + notificationId)
    // Check if the icon element exists
    if (confirmIcon) {
      // disable button
      confirmIcon.classList.add('disabled');
    }
  }
</script>
{% endblock %}