<ul class="list-inline text-center footer-links">

{% if contact_card.content.email %}
  <li class="list-inline-item">
    <a href="mailto:{{ contact_card.content.email }}" title="Email me">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Email me</span>
   </a>
  </li>
{% endif %}

{% if contact_card.content.calendly %}
  <li class="list-inline-item">
    <a href="https://calendly.com/{{ contact_card.content.calendly }}" title="Schedule a meeting with me">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-calendar-check fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Schedule a meeting with me</span>
   </a>
  </li>
{% endif %}

{% if contact_card.content.facebook %}
  <li class="list-inline-item">
    <a href="https://www.facebook.com/{{ contact_card.content.facebook }}" title="Facebook">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-facebook fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Facebook</span>
   </a>
  </li>
{% endif %}

{% if contact_card.content.telegram %}
  <li class="list-inline-item">
    <a href="https://t.me/{{ contact_card.content.telegram }}" title="Telegram">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-telegram-plane fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Telegram</span>
    </a>
  </li>
{% endif %}

{% if contact_card.content.github %}
  <li class="list-inline-item">
    <a href="https://github.com/{{ contact_card.content.github }}" title="GitHub">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">GitHub</span>
   </a>
  </li>
{% endif %}

{% if contact_card.content.x %}
  <li class="list-inline-item">
    <a href="https://twitter.com/{{ contact_card.content.twitter }}" title="Twitter">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Twitter</span>
   </a>
  </li>
{% endif %}

{% if contact_card.content.reddit %}
  <li class="list-inline-item">
    <a href="https://reddit.com/u/{{ contact_card.content.reddit }}" title="Reddit">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-reddit fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Reddit</span>
   </a>
  </li>
{% endif %}

{% if contact_card.content.linkedin %}
  <li class="list-inline-item">
    <a href="https://linkedin.com/in/{{ contact_card.content.linkedin }}" title="LinkedIn">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">LinkedIn</span>
   </a>
  </li>
{% endif %}

{% if contact_card.content.xing %}
  <li class="list-inline-item">
    <a href="https://www.xing.com/profile/{{ contact_card.content.xing }}" title="Xing">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-xing fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Xing</span>
   </a>
  </li>
{% endif %}

{% if contact_card.content.stackoverflow %}
  <li class="list-inline-item">
    <a href="https://stackoverflow.com/users/{{ contact_card.content.stackoverflow }}" title="StackOverflow">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-stack-overflow fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">StackOverflow</span>
   </a>
  </li>
{% endif %}

{% if contact_card.content.snapchat %}
  <li class="list-inline-item">
    <a href="https://www.snapchat.com/add/{{ contact_card.content.snapchat }}" title="Snapchat">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-snapchat-ghost fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Snapchat</span>
   </a>
  </li>
{% endif %}

{% if contact_card.content.instagram %}
  <li class="list-inline-item">
    <a href="https://www.instagram.com/{{ contact_card.content.instagram }}" title="Instagram">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Instagram</span>
   </a>
  </li>
{% endif %}

{% if contact_card.content.youtube %}
  <li class="list-inline-item">
    <a href="https://www.youtube.com/{{ contact_card.content.youtube }}" title="YouTube">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">YouTube</span>
   </a>
  </li>
{% endif %}

{% if contact_card.content.spotify %}
  <li class="list-inline-item">
    <a href="https://open.spotify.com/user/{{ contact_card.content.spotify }}" title="Spotify">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-spotify fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Spotify</span>
   </a>
  </li>
{% endif %}

{% if contact_card.content.telephone %}
  <li class="list-inline-item">
    <a href="tel:{{ contact_card.content.telephone }}" title="Phone">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Phone</span>
   </a>
  </li>
{% endif %}

{% if contact_card.content.steam %}
  <li class="list-inline-item">
    <a href="https://steamcommunity.com/id/{{ contact_card.content.steam }}" title="Steam">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-steam fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Steam</span>
   </a>
  </li>
{% endif %}

{% if contact_card.content.twitch %}
  <li class="list-inline-item">
    <a href="https://www.twitch.tv/{{ contact_card.content.twitch }}" title="Twitch">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-twitch fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Twitch</span>
   </a>
  </li>
{% endif %}

{% if contact_card.content.yelp %}
  <li class="list-inline-item">
    <a href="https://{{ contact_card.content.yelp }}.yelp.com" title="Yelp">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-yelp fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Yelp</span>
   </a>
  </li>
{% endif %}

{% if contact_card.content.mastodon %}
  <li class="list-inline-item">
    <a rel="me" href="https://{{ contact_card.content.mastodon }}" title="Mastodon">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-mastodon fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Mastodon</span>
    </a>
  </li>
{% endif %}

{% if contact_card.content.ORCID %}
 <li class="list-inline-item">
   <a href="https://orcid.org/{{ contact_card.content.ORCID }}" title="ORCID">
     <span class="fa-stack fa-lg" aria-hidden="true">
       <i class="fas fa-circle fa-stack-2x"></i>
       <i class="fab fa-orcid fa-stack-1x fa-inverse"></i>
     </span>
     <span class="sr-only">ORCID</span>
   </a>
 </li>
{% endif %}

{% if contact_card.content.google_scholar %}
  <li class="list-inline-item">
    <a href="https://scholar.google.com/{{ contact_card.content.google_scholar }}" title="Google Scholar">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Google Scholar</span>
    </a>
  </li>
{% endif %}

{% if contact_card.content.patreon %}
  <li class="list-inline-item">
    <a href="https://patreon.com/{{ contact_card.content.patreon }}" title="Patreon">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-patreon fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Patreon</span>
    </a>
  </li>
{% endif %}
  
{% if contact_card.content.medium %}
  <li class="list-inline-item">
    <a href="https://medium.com/@{{ contact_card.content.medium }}" title="Medium">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-medium fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Medium</span>
    </a>
  </li>
{% endif %}

{% if contact_card.content.itchio %}
  <li class="list-inline-item">
    <a href="https://{{ contact_card.content.itchio }}.itch.io/" title="Itchio">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-itch-io fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Itchio</span>
   </a>
  </li>
{% endif %}
  
{% if contact_card.content.discord %}
  <li class="list-inline-item">
    <a href="https://discord.com/{{ contact_card.content.discord }}" title="Discord">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-discord fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Discord</span>
   </a>
  </li>
{% endif %}
  
{% if contact_card.content.kaggle %}
  <li class="list-inline-item">
    <a href="https://www.kaggle.com/{{ contact_card.content.kaggle }}" title="Kaggle">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-kaggle fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Kaggle</span>
   </a>
  </li>
{% endif %}

{% if contact_card.content.hackerrank %}
  <li class="list-inline-item">
    <a href="https://www.hackerrank.com/{{ contact_card.content.hackerrank }}" title="Hackerrank">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-hackerrank fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Hackerrank</span>
   </a>
  </li>
{% endif %}

{% if contact_card.content.line %}
  <li class="list-inline-item">
    <a href="https://lin.ee/{{ contact_card.content.line }}" title="Line">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-line fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Line</span>
   </a>
  </li>
{% endif %}

</ul>
