{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Django Boards{% endblock %}</title>
    {% include 'includes/stylesheets.html' %}


    {% block stylesheet %}{% endblock %}
  </head>
  <body>
    {% block body %}  <!-- HERE -->
      {% include 'includes/nav.html' %}
      <div class="container">
        <ol class="breadcrumb my-4">
          {% block breadcrumb %}
          {% endblock %}
        </ol>
        {% block content %}
        {% endblock %}
      </div>
    {% endblock body %}  <!-- AND HERE -->
    {% include 'includes/footer_scripts.html'%}
</body></html>