{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/dark-light.css' %}">
{% endblock %}
{% load user_filter %}
{% block title %}User Profile{% endblock %}

{% block content %}
  <div class="container-fluid adaptive">
    <div class="row">
      <!-- Left Section -->
      <div class="col-md-6">
        <div class="card w-50 profile-adaptive">
          <div class="card-body">
            <h5 class="card-title fs-3 fw-bolder profile-adaptive">基本資料</h5>

            <div class="mb-3">
              <label for="student_id" class="form-label fs-6 profile-adaptive">學生 ID</label>
              <p class="fw-normal ms-2 fs-5 profile-adaptive">{{ profile_owner.student_id }}</p>
            </div>

            <div class="mb-3">
              <label for="first_name" class="form-label fs-6 profile-adaptive">姓名</label>
              <p class="fw-normal ms-2 fs-5 profile-adaptive">{{ profile_owner.first_name }}, {{ profile_owner.last_name }}</p>
            </div>

            <div class="mb-3">
              <label for="nick_name" class="form-label fs-6 profile-adaptive">a.k.a.</label>
              <p class="fw-normal ms-2 fs-5 profile-adaptive">{{ profile_owner.nick_name }}</p>
            </div>

            <div class="mb-3">
              <label for="gender" class="form-label fs-6 profile-adaptive">性別</label>
              <p class="fw-normal ms-2 fs-5 profile-adaptive">{{ profile_owner.get_gender_display }}</p>
            </div>

            <div class="mb-3">
              <label for="department" class="form-label fs-6 profile-adaptive">系所</label>
              <p class="fw-normal ms-2 fs-5 profile-adaptive">{{ profile_owner.get_department_display }}</p>
            </div>

            <div class="mb-3">
              <label for="email" class="form-label fs-6 profile-adaptive">電子郵件</label>
              <p class="fw-normal ms-2 fs-5 profile-adaptive">{{ profile_owner.email }}</p>
            </div>
            {% if profile_owner.slug == user.slug %}
              <div class="text-right adaptive">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#profileModal">編輯</button>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <!-- Content for the right section goes here -->
        <div class="card w-100 profile-adaptive">
          <div class="card-body">
            <div class="mb-3">
              <label for="student_id" class="form-label fs-6 profile-adaptive">About Me</label>
              {% if profile_owner.slug == user.slug %}
              <button type="button" class="btn btn-link float-end" data-bs-toggle="modal" data-bs-target="#selfIntroductionModal">
                  <i class="fa fa-plus"></i>
                </button>
              {% endif %}
              <p class="fw-normal ms-2 fs-5 profile-adaptive">{{ curriculum_vitae.self_introduction }}</p>
            </div>
          </div>
          <div class="card w-100 profile-adaptive">
          <div class="card-body">
            <div class="mb-3">
              <label for="student_id" class="form-label fs-6 profile-adaptive">Education</label>
              {% if profile_owner.slug == user.slug %}
                <button type="button" class="btn btn-link float-end" data-bs-toggle="modal" data-bs-target="#educationModal">
                  <i class="fa fa-plus"></i>
                </button>
              {% endif %}
              {% for edu in education%}
                <p class="fw-normal ms-2 fs-5 profile-adaptive">{{ edu.school }}-{{ edu.degree }}-{{ edu.year }}</p>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if profile_owner.slug  == user.slug %}
  {% load crispy_forms_tags %}  
    <div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">修改基本資料</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="post" action="{% url 'save_profile' %}">
              {% csrf_token %}
              {{ profile_form|crispy }}
              <div class="modal-footer">
               <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="selfIntroductionModal" tabindex="-1" aria-labelledby="selfIntroductionModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="selfIntroductionModalLabel">自介</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="post" action="{% url 'save_self_introduction' %}">
              {% csrf_token %}
              {{ self_introduction_form|crispy }}
              <div class="modal-footer">
               <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
        <div class="modal fade" id="educationModal" tabindex="-1" aria-labelledby="educationModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="educationModalLabel">學歷</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="post" action="{% url 'save_education' %}">
              {% csrf_token %}
              {{ education_form|crispy }}
              <div class="modal-footer">
               <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  {% endif %}


{% endblock %}